<h2>Show post</h2>

<img src='<%= @post.image_url %>' />

<ul>

  <li>
    <strong>ImageUrl:</strong>
    <%= @post.image_url %>
  </li>

  <li>
    <strong>Content:</strong>
    <%= @post.content %>
  </li>

  <li>
    <strong>SourceUrl:</strong>
    <%= @post.source_url %>
  </li>

</ul>

<%= link "Back", to: post_path(@conn, :index) %>
