/* Breaks */
/* Colors */
/* Typography */
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
/* line 1, /Users/keathley/Development/elixir_friends/web/static/css/base/_sizing.scss */
html {
  box-sizing: border-box;
  padding: 0; }

/* line 7, /Users/keathley/Development/elixir_friends/web/static/css/base/_sizing.scss */
html,
body {
  margin: 0; }

/* line 11, /Users/keathley/Development/elixir_friends/web/static/css/base/_sizing.scss */
*,
*:before,
*:after {
  box-sizing: border-box; }

/* line 1, /Users/keathley/Development/elixir_friends/web/static/css/base/_body.scss */
body {
  background-color: #fafafa; }

/* line 3, /Users/keathley/Development/elixir_friends/web/static/css/base/_fonts.scss */
html {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 14px; }
  @media (min-width: 58rem) {
    /* line 3, /Users/keathley/Development/elixir_friends/web/static/css/base/_fonts.scss */
    html {
      font-size: 15.4px; } }

/* line 12, /Users/keathley/Development/elixir_friends/web/static/css/base/_fonts.scss */
body {
  line-height: 1.7;
  color: #222;
  -webkit-font-feature-settings: "kern", "liga", "pnum";
          font-feature-settings: "kern", "liga", "pnum";
  text-rendering: optimizeLegibility;
  font-smoothing: antialiased; }

/* line 23, /Users/keathley/Development/elixir_friends/web/static/css/base/_fonts.scss */
h1,
h2,
h3,
h4 {
  margin-bottom: 0.5rem;
  line-height: 1.1; }

/* line 28, /Users/keathley/Development/elixir_friends/web/static/css/base/_fonts.scss */
h1 {
  font-size: 2rem; }

/* line 29, /Users/keathley/Development/elixir_friends/web/static/css/base/_fonts.scss */
h2 {
  font-size: 1.7rem; }

/* line 30, /Users/keathley/Development/elixir_friends/web/static/css/base/_fonts.scss */
h3 {
  font-size: 1.2rem; }

/* line 31, /Users/keathley/Development/elixir_friends/web/static/css/base/_fonts.scss */
h4 {
  font-size: 1rem; }

/* line 33, /Users/keathley/Development/elixir_friends/web/static/css/base/_fonts.scss */
blockquote {
  font-size: 1.5rem; }

/* line 35, /Users/keathley/Development/elixir_friends/web/static/css/base/_fonts.scss */
p {
  margin: 0;
  font-size: 14px;
  font-weight: normal; }

/* line 44, /Users/keathley/Development/elixir_friends/web/static/css/base/_fonts.scss */
p + h1,
p + h2,
p + h3,
p + h4 {
  margin-top: 2rem; }

/* line 46, /Users/keathley/Development/elixir_friends/web/static/css/base/_fonts.scss */
a {
  padding-bottom: 0.2rem;
  color: #8849ae;
  text-decoration: none;
  transition: color 0.1s ease; }
  /* line 52, /Users/keathley/Development/elixir_friends/web/static/css/base/_fonts.scss */
  a:hover {
    color: #6c3a8a; }

/* line 1, /Users/keathley/Development/elixir_friends/web/static/css/components/_header.scss */
.header {
  width: 100%;
  color: #fff;
  text-align: center;
  background-color: #3c3752; }
  @media screen and (min-width: 42rem) {
    /* line 1, /Users/keathley/Development/elixir_friends/web/static/css/components/_header.scss */
    .header {
      text-align: left; } }

/* line 12, /Users/keathley/Development/elixir_friends/web/static/css/components/_header.scss */
.header-container {
  max-width: 62rem;
  padding-top: 2rem;
  padding-right: 1rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto; }
  @media screen and (min-width: 42rem) {
    /* line 12, /Users/keathley/Development/elixir_friends/web/static/css/components/_header.scss */
    .header-container {
      padding-top: 3rem;
      padding-right: 2rem;
      padding-bottom: 3rem;
      padding-left: 2rem; } }

/* line 29, /Users/keathley/Development/elixir_friends/web/static/css/components/_header.scss */
.header-title {
  margin-top: 0; }

/* line 33, /Users/keathley/Development/elixir_friends/web/static/css/components/_header.scss */
.header-tagline {
  margin-top: 0;
  font-size: 1.5rem;
  font-weight: 300;
  color: #d5dae6; }

/* line 1, /Users/keathley/Development/elixir_friends/web/static/css/components/_footer.scss */
.footer {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: #d5dae6;
  background-color: #3c3752;
  text-align: center;
  padding: 4rem;
  margin-top: 5rem;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  /* line 10, /Users/keathley/Development/elixir_friends/web/static/css/components/_footer.scss */
  .footer p {
    font-size: 1.1rem;
    font-weight: 200; }
  /* line 15, /Users/keathley/Development/elixir_friends/web/static/css/components/_footer.scss */
  .footer a {
    color: #bcb7ff; }
    /* line 18, /Users/keathley/Development/elixir_friends/web/static/css/components/_footer.scss */
    .footer a:hover {
      color: #f4f8ff; }

/* line 1, /Users/keathley/Development/elixir_friends/web/static/css/components/_post_list.scss */
.post-list {
  max-width: 62rem;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-top: 3rem;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  -webkit-column-gap: 1.5rem;
     -moz-column-gap: 1.5rem;
          column-gap: 1.5rem;
  -webkit-column-count: 1;
     -moz-column-count: 1;
          column-count: 1; }
  @media screen and (min-width: 32rem) {
    /* line 1, /Users/keathley/Development/elixir_friends/web/static/css/components/_post_list.scss */
    .post-list {
      -webkit-column-count: 2;
         -moz-column-count: 2;
              column-count: 2; } }
  @media screen and (min-width: 42rem) {
    /* line 1, /Users/keathley/Development/elixir_friends/web/static/css/components/_post_list.scss */
    .post-list {
      padding-right: 2rem;
      padding-left: 2rem;
      text-align: left;
      -webkit-column-count: 2;
         -moz-column-count: 2;
              column-count: 2; } }
  @media screen and (min-width: 58rem) {
    /* line 1, /Users/keathley/Development/elixir_friends/web/static/css/components/_post_list.scss */
    .post-list {
      -webkit-column-count: 3;
         -moz-column-count: 3;
              column-count: 3;
      margin-top: 4rem; } }

/* line 1, /Users/keathley/Development/elixir_friends/web/static/css/components/_card.scss */
.card {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 24rem;
  margin-bottom: 1.5rem;
  text-align: left;
  border: 1px solid rgba(215, 216, 224, 0.47);
  border-bottom: 3px solid rgba(193, 193, 193, 0.47);
  border-radius: 0.25rem; }

/* line 13, /Users/keathley/Development/elixir_friends/web/static/css/components/_card.scss */
.card-image {
  display: block;
  max-width: 100%;
  height: auto; }

/* line 19, /Users/keathley/Development/elixir_friends/web/static/css/components/_card.scss */
.card-content {
  padding-top: 0.8rem;
  padding-right: 1.2rem;
  padding-bottom: 1.5rem;
  padding-left: 1.2rem;
  margin-top: 0;
  background-color: #fff;
  border-top: 1px solid rgba(239, 239, 239, 0.86);
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem; }

/* line 31, /Users/keathley/Development/elixir_friends/web/static/css/components/_card.scss */
.card-meta {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0.75rem;
  font-size: 0.9rem;
  font-weight: 800;
  color: #8f8f8f;
  background-color: #fff;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

/* line 43, /Users/keathley/Development/elixir_friends/web/static/css/components/_card.scss */
.card-owner {
  -webkit-flex-grow: 3;
      -ms-flex-positive: 3;
          flex-grow: 3; }

/* line 47, /Users/keathley/Development/elixir_friends/web/static/css/components/_card.scss */
.card-date {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 0.9rem;
  font-weight: 200;
  text-align: right; }


/*# sourceMappingURL=app.css.map*/