/* Breaks */
/* Colors */
/* Typography */
/* Links */
/* line 1, /Users/keathley/Development/elixir_friends/web/static/css/base/_sizing.scss */
html {
  box-sizing: border-box;
  padding: 0; }

/* line 7, /Users/keathley/Development/elixir_friends/web/static/css/base/_sizing.scss */
html,
body {
  margin: 0; }

/* line 9, /Users/keathley/Development/elixir_friends/web/static/css/base/_sizing.scss */
body {
  padding: 2rem 1.5rem; }

/* line 13, /Users/keathley/Development/elixir_friends/web/static/css/base/_sizing.scss */
*,
*:before,
*:after {
  box-sizing: border-box; }

/* line 15, /Users/keathley/Development/elixir_friends/web/static/css/base/_sizing.scss */
* + * {
  margin-top: 1rem; }

/* line 1, /Users/keathley/Development/elixir_friends/web/static/css/base/_body.scss */
body {
  background-color: #fafafa; }

/* line 1, /Users/keathley/Development/elixir_friends/web/static/css/base/_fonts.scss */
html {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 16px; }
  @media (min-width: 42rem) {
    /* line 1, /Users/keathley/Development/elixir_friends/web/static/css/base/_fonts.scss */
    html {
      font-size: calc($base-font-size * 1.1); } }

/* line 10, /Users/keathley/Development/elixir_friends/web/static/css/base/_fonts.scss */
body {
  line-height: 1.5;
  color: #222;
  font-feature-settings: "kern", "liga", "pnum";
  text-rendering: optimizeLegibility;
  font-smoothing: antialiased; }

/* line 21, /Users/keathley/Development/elixir_friends/web/static/css/base/_fonts.scss */
h1,
h2,
h3,
h4 {
  margin-bottom: 0.5rem;
  line-height: 1.1; }

/* line 26, /Users/keathley/Development/elixir_friends/web/static/css/base/_fonts.scss */
h1 {
  font-size: 2rem; }

/* line 27, /Users/keathley/Development/elixir_friends/web/static/css/base/_fonts.scss */
h2 {
  font-size: 1.7rem; }

/* line 28, /Users/keathley/Development/elixir_friends/web/static/css/base/_fonts.scss */
h3 {
  font-size: 1.2rem; }

/* line 29, /Users/keathley/Development/elixir_friends/web/static/css/base/_fonts.scss */
h4 {
  font-size: 1rem; }

/* line 31, /Users/keathley/Development/elixir_friends/web/static/css/base/_fonts.scss */
blockquote {
  font-size: 1.5rem; }

/* line 33, /Users/keathley/Development/elixir_friends/web/static/css/base/_fonts.scss */
p {
  margin: 0 0 1.25rem;
  font-size: 1rem;
  font-weight: 200; }

/* line 42, /Users/keathley/Development/elixir_friends/web/static/css/base/_fonts.scss */
p + h1,
p + h2,
p + h3,
p + h4 {
  margin-top: 2rem; }

/* line 44, /Users/keathley/Development/elixir_friends/web/static/css/base/_fonts.scss */
a {
  text-decoration: none; }

/* line 1, /Users/keathley/Development/elixir_friends/web/static/css/components/_masonry.scss */
.post-list {
  max-width: 60rem;
  margin-right: auto;
  margin-left: auto;
  -webkit-column-gap: 0.5rem;
  -webkit-column-count: 1; }
  @media screen and (min-width: 27rem) {
    /* line 1, /Users/keathley/Development/elixir_friends/web/static/css/components/_masonry.scss */
    .post-list {
      -webkit-column-count: 2; } }
  @media screen and (min-width: 42rem) {
    /* line 1, /Users/keathley/Development/elixir_friends/web/static/css/components/_masonry.scss */
    .post-list {
      -webkit-column-gap: 1.25rem;
      -webkit-column-count: 3; } }
  @media screen and (min-width: 60rem) {
    /* line 1, /Users/keathley/Development/elixir_friends/web/static/css/components/_masonry.scss */
    .post-list {
      -webkit-column-count: 4; } }

/* line 1, /Users/keathley/Development/elixir_friends/web/static/css/components/_card.scss */
.card {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 20rem;
  border: 1px solid #ddd;
  border-bottom-width: 2px;
  border-radius: 0.25rem; }

/* line 11, /Users/keathley/Development/elixir_friends/web/static/css/components/_card.scss */
.card-image {
  display: block;
  max-width: 100%;
  height: auto;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem; }

/* line 19, /Users/keathley/Development/elixir_friends/web/static/css/components/_card.scss */
.card-content {
  padding: 1.25rem;
  margin-top: 0;
  background-color: #fff;
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem; }

/* line 27, /Users/keathley/Development/elixir_friends/web/static/css/components/_card.scss */
.card-title {
  margin-top: 0; }

/* line 31, /Users/keathley/Development/elixir_friends/web/static/css/components/_card.scss */
.card-text {
  font-size: 0.9rem; }


/*# sourceMappingURL=app.css.map*/