/* Breaks */
/* Colors */
/* Typography */
/* Links */
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
/* line 1, /Users/keathley/Development/elixir_friends/web/static/css/base/_sizing.scss */
html {
  box-sizing: border-box;
  padding: 0; }

/* line 7, /Users/keathley/Development/elixir_friends/web/static/css/base/_sizing.scss */
html,
body {
  margin: 0; }

/* line 11, /Users/keathley/Development/elixir_friends/web/static/css/base/_sizing.scss */
*,
*:before,
*:after {
  box-sizing: border-box; }

/* line 1, /Users/keathley/Development/elixir_friends/web/static/css/base/_body.scss */
body {
  background-color: #fafafa; }

/* line 3, /Users/keathley/Development/elixir_friends/web/static/css/base/_fonts.scss */
html {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 16px; }
  @media (min-width: 42rem) {
    /* line 3, /Users/keathley/Development/elixir_friends/web/static/css/base/_fonts.scss */
    html {
      font-size: 17.6px; } }

/* line 12, /Users/keathley/Development/elixir_friends/web/static/css/base/_fonts.scss */
body {
  line-height: 1.7;
  color: #6b676f;
  font-feature-settings: "kern", "liga", "pnum";
  text-rendering: optimizeLegibility;
  font-smoothing: antialiased; }

/* line 23, /Users/keathley/Development/elixir_friends/web/static/css/base/_fonts.scss */
h1,
h2,
h3,
h4 {
  margin-bottom: 0.5rem;
  line-height: 1.1; }

/* line 28, /Users/keathley/Development/elixir_friends/web/static/css/base/_fonts.scss */
h1 {
  font-size: 2rem; }

/* line 29, /Users/keathley/Development/elixir_friends/web/static/css/base/_fonts.scss */
h2 {
  font-size: 1.7rem; }

/* line 30, /Users/keathley/Development/elixir_friends/web/static/css/base/_fonts.scss */
h3 {
  font-size: 1.2rem; }

/* line 31, /Users/keathley/Development/elixir_friends/web/static/css/base/_fonts.scss */
h4 {
  font-size: 1rem; }

/* line 33, /Users/keathley/Development/elixir_friends/web/static/css/base/_fonts.scss */
blockquote {
  font-size: 1.5rem; }

/* line 35, /Users/keathley/Development/elixir_friends/web/static/css/base/_fonts.scss */
p {
  margin: 0 0 1.25rem;
  font-size: 0.9rem;
  font-weight: 400; }

/* line 44, /Users/keathley/Development/elixir_friends/web/static/css/base/_fonts.scss */
p + h1,
p + h2,
p + h3,
p + h4 {
  margin-top: 2rem; }

/* line 46, /Users/keathley/Development/elixir_friends/web/static/css/base/_fonts.scss */
a {
  color: #8849ae;
  text-decoration: none; }

/* line 1, /Users/keathley/Development/elixir_friends/web/static/css/components/_header.scss */
.header {
  width: 100%;
  color: #fff;
  text-align: center;
  background-color: #532171;
  border-bottom: 6px solid #A683B3; }
  @media screen and (min-width: 27rem) {
    /* line 1, /Users/keathley/Development/elixir_friends/web/static/css/components/_header.scss */
    .header {
      text-align: left; } }

/* line 16, /Users/keathley/Development/elixir_friends/web/static/css/components/_header.scss */
.header-container {
  max-width: 60rem;
  padding-top: 2rem;
  padding-right: 1rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto; }
  @media screen and (min-width: 27rem) {
    /* line 16, /Users/keathley/Development/elixir_friends/web/static/css/components/_header.scss */
    .header-container {
      padding-top: 3rem;
      padding-right: 2rem;
      padding-bottom: 3rem;
      padding-left: 2rem; } }

/* line 33, /Users/keathley/Development/elixir_friends/web/static/css/components/_header.scss */
.header-title {
  margin-top: 0; }

/* line 37, /Users/keathley/Development/elixir_friends/web/static/css/components/_header.scss */
.header-tagline {
  margin-top: 0;
  font-size: 1.5rem;
  font-weight: 300; }

/* line 1, /Users/keathley/Development/elixir_friends/web/static/css/components/_post_list.scss */
.post-list {
  max-width: 60rem;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-top: 2rem;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  -webkit-column-gap: 0.5rem;
  -webkit-column-count: 1; }
  @media screen and (min-width: 27rem) {
    /* line 1, /Users/keathley/Development/elixir_friends/web/static/css/components/_post_list.scss */
    .post-list {
      padding-right: 2rem;
      padding-left: 2rem;
      text-align: left;
      -webkit-column-count: 2; } }
  @media screen and (min-width: 42rem) {
    /* line 1, /Users/keathley/Development/elixir_friends/web/static/css/components/_post_list.scss */
    .post-list {
      -webkit-column-gap: 1.25rem;
      -webkit-column-count: 3; } }

/* line 1, /Users/keathley/Development/elixir_friends/web/static/css/components/_card.scss */
.card {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 24rem;
  margin-bottom: 1rem;
  text-align: left;
  border: 1px solid rgba(221, 221, 221, 0.47);
  border-bottom-width: 3px;
  border-radius: 0.25rem; }

/* line 13, /Users/keathley/Development/elixir_friends/web/static/css/components/_card.scss */
.card-image {
  display: block;
  max-width: 100%;
  height: auto;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem; }

/* line 21, /Users/keathley/Development/elixir_friends/web/static/css/components/_card.scss */
.card-content {
  padding: 1.25rem;
  margin-top: 0;
  background-color: #fff;
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem; }

/* line 29, /Users/keathley/Development/elixir_friends/web/static/css/components/_card.scss */
.card-meta {
  font-size: 0.8rem;
  font-weight: 800;
  color: #8f8f8f; }


/*# sourceMappingURL=app.css.map*/