.post-list {
  max-width: $screen-xl;
  margin-right: auto;
  margin-left: auto;

  -webkit-column-gap: 0.5rem;
  -webkit-column-count: 1;

  @media screen and (min-width: $screen-md) {
    -webkit-column-count: 2;
  }

  @media screen and (min-width: $screen-lg) {
    -webkit-column-gap: 1.25rem;
    -webkit-column-count: 3;
  }
  @media screen and (min-width: $screen-xl) {
    -webkit-column-count: 4;
  }
}
