.post-list {
  max-width: $max-width;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-top: 3rem;
  margin-right: auto;
  margin-left: auto;
  text-align: center;

  column-gap: $gutter;
  column-count: 1;

  @media screen and (min-width: $screen-sm) {
    column-count: 2;
  }

  @media screen and (min-width: $screen-md) {
    padding-right: 2rem;
    padding-left: 2rem;
    text-align: left;
    column-count: 2;
  }

  @media screen and (min-width: $screen-lg) {
    column-count: 3;
    margin-top: 4rem;
  }
}
