/* Breaks */
$screen-xl: 60rem;
$screen-lg: 42rem;
$screen-md: 27rem;

/* Colors */
$background-color: #fafafa;
$purple: #8849ae;
$dark-purple: #532171;
$light-purple: #a683b3;

/* Typography */
$base-font-size: 16px;
$base-font-family: 'Lato', Helvetica, Arial, sans-serif;
$base-line-height: 1.7;
// $base-color: #4b4b4b;
$base-color: #6b676f;

/* Links */
$link-color: #df2050;
