/* Breaks */
$screen-xl: 60rem;
$screen-lg: 42rem;
$screen-md: 27rem;

/* Colors */
$background-color: #fafafa;

/* Typography */
$base-font-size: 16px;
$base-font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
$base-line-height: 1.5;
$base-color: #222;

/* Links */
$link-color: #df2050;
