/* Breaks */
$screen-lg: 58rem;
$screen-md: 42rem;
$screen-sm: 32rem;

/* Colors */
$background-color: #fafafa;
$purple: #8849ae;
$dark-purple: #3c3752;
$light-purple: #a683b3;
$light-gray: #d5dae6;

/* Typography */
$base-font-size: 14px;
$base-font-family: 'Lato', Helvetica, Arial, sans-serif;
$base-line-height: 1.7;
$base-color: #222;

// Sizing
$gutter: 1.5rem;
$max-width: 62rem;
